# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# =========================
# Machine Learning
# =========================
*.pkl
*.joblib

# =========================
# Dataset
# =========================
dataset/*.csv

# =========================
# React / Vite Frontend
# =========================
node_modules/
frontend/dist/
dist/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store 